<h1>About Me</h1>

<p>
My name is Giovanna and I go by Gio the Greatest!
I am currently going to Tech Talent South to Learn Ruby and Ruby on Rails, I've meet some great people and our teacher who's name is Yosep, (yes its pronunced Yo-SEP) he is one cool dude!
</p>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<a herf="http://google.com">Find us on google!</a>
<div>
The name of my blog is <%= @company_name %>!
</div>