/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
	font-family:inherit;
}

h1 {
	font-family:inherit;
}

.header a {
	color: white;
	margin-right: 40px
}

.header img {
	width: 200px;
	height: 200px;
}
.header {
	padding:20px;
	background-color:#4169E1;
	border-bottom:10px #4169E1;
}

.footer{
	background-color:#4169E1;
	color:FF6347;
	text-align:center;
}

.content{
	text-align: center;
	margin:auto;

}

